doctype html
head
  meta(charset='UTF-8')
  meta(name='viewport' content='width=device-width, initial-scale=1.0')
  title ADD SALE
  link(rel='stylesheet' type='text/css' href='nyondo.css')
.container
  .sidebar
    .profile.picture
      img(src='stockshop.jpg' alt='Nyondo Stock' width='100%')
      h3 Nyondo Stock
    .menu
      h2 Explore More
      div
        div
          a.menu-btn(href='index.html') Home
        a.menu-btn(href='dashboard.html') Stock Inventory
      div
        a.menu-btn(href='supplier-registration.html') Suppliers
  br
  .content
    form(action='' method='get')
      // section 1
      h1 Sales Registration
      section
        div
          label(for='SalesDate') Sales Date:
          input#SalesDate(type='date' name='date')
        div
          label(for='salesPerson') Sales Person:
          select#SalesPerson(name='salesPerson')
            option(value='' disabled='' selected='') Select a representative
            option(value='mw') Martha Wasukira
            option(value='mk') Martha Kwaga
            option(value='sw') Steve Wasukira
            option(value='sm') Steve Medson
      h2 Customer Details
      // Section 2
      section
        div
          label(for='Name') Name:
          input(name='name' type='text' placeholder='Enter full name')
        div
          label(for='phoneNumber') Phone Number:
          input(name='phoneNumber' type='tel' placeholder='+2567xxxxxxxx')
      br
      section
        div
          label(for='email') Email:
          input(type='email' placeholder='youremail@example.com')
        div
          label(for='customerType') Customer Type:
          select(name='customerType' id='Customer Type')
            option(value='' disabled='' selected='') Select customer type
            option(value='1') Retailer
            option(value='2') Wholesaler
      h2 Items
      // items
      section
        div
          label(for='Item') Item:
          input(type='text' name='item')
          each item in items 
          option(value='item._id') #{item.productname} (stock:#(item.quantity) | price:#{item.sellingprice}UGX)
        div
          label(for='quantity') Quantity:
          input#quantity(name='quantity' type='number')
        div
          label(for='unitPrice') Unit Price:
          input#unitprice(name='unitPrice' type='number' name='')
      
      br
      // final bit
      section#btn-section
        button(type='reset') Cancel
        button(type='submit') Submit
