doctype html
head
  meta(charset='UTF-8')
  meta(name='viewport' content='width=device-width, initial-scale=1, shrink-to-fit=no')
  meta(http-equiv='x-ua-compatible' content='ie=edge')
  title LOGIN
  // MDB icon
  link(rel='icon' href='img/mdb-favicon.ico' type='image/x-icon')
  // Font Awesome
  link(rel='stylesheet' href='https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css')
  // Google Fonts Roboto
  link(rel='stylesheet' href='https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700;900&display=swap')
  // MDB
  link(href='https://cdnjs.cloudflare.com/ajax/libs/mdb-ui-kit/6.4.0/mdb.min.css' rel='stylesheet')
  link(rel='stylesheet' href='/css/mdb.min.css')
  link(rel='stylesheet' href='/css/nyondo.css')
// main body
.container-fluid.main-body
  .row
    // Sidebar
    .col-md-4.col-lg-2.bg-light.p-3.border-end.vh-150
      // Profile Image
      .text-center.mb-4
        #carouselExampleAutoplaying.carousel.slide(data-bs-ride='carousel')
          .carousel-inner
            .carousel-item.active
              img.d-block.w-100(src='https://cdn.pixabay.com/photo/2017/08/09/09/50/shopping-2613984_1280.jpg' alt='...')
            .carousel-item
              img.d-block.w-100(src='https://incorpuk.com/blog/content/images/2024/09/73328.jpg' alt='...')
            .carousel-item
              img.d-block.w-100(src='https://img.freepik.com/free-photo/top-view-mechanical-tools-arrangement_23-2149552411.jpg' alt='Image of man in a stock shop')
          button.carousel-control-prev(type='button' data-bs-target='#carouselExampleAutoplaying' data-bs-slide='prev')
            span.carousel-control-prev-icon(aria-hidden='true')
            span.visually-hidden Previous
          button.carousel-control-next(type='button' data-bs-target='#carouselExampleAutoplaying' data-bs-slide='next')
            span.carousel-control-next-icon(aria-hidden='true')
            span.visually-hidden Next
      // Title
      h5.mb-4.fw-bold Explore More

      // Sidebar Navigation Buttons
      .d-grid.gap-3
        a.btn.btn-outline-secondary(href='index.html')
          | Home
        a.btn.btn-outline-primary(href='supplier.html')
          | Suppliers Credit
        a.btn.btn-outline-warning(href='#')
          | stock
        a.btn.btn-outline-success(href='sales.html')
          | Sales
        a.btn.btn-outline-danger(href='#')
          | Contact Us
    // End of sidebar
    
    // Section for main content
    .col.bg-body-tertiary.p-2
      form(action='/add-stock' method='post')
        // Product information
        h2.text-center.fw-bold
          u Stock Registration
        h3.text-center.fw-bold  Product Information
        .row.g-3.my-3
          .col
            label.form-label(for='formGroupExampleInput') Product Name:
            input.form-control(name='productname' type='text' placeholder='Enter name' aria-label='First name')
          .col
            label.form-label(for='formGroupExampleInput') Product Code:
            input.form-control(name='productcode' type='text' placeholder='' aria-label='Last name')
          .col
            label.form-label(for='formGroupExampleInput') Product type:
            select.form-select(aria-label='Default select example')
              option(selected='') Choose option below
              option(value='Building material') Building Materials
              option(value='Hand tools') Hand Tools
              option(value='Power tools') Power Tools
              option(value='Plumbing supplies') Plumbing Supplies
              option(value='Electrial supplies') Electrical Supplies
              option(value='Finishing material') Paint &amp; Finishing Materials
              option(value='fittings') Doors, Windows &amp; Fittings
              option(value='Carpentry') Carpentry
              option(value='Fixing') Fastners &amp; Fixings
              option(value='Safety Equipment') Safety Equipment
        // Stock details
        h3.text-center.fw-bold Stock Details
        .row.g-3.my-3
          .col
            label.form-label(for='quantity') Quantity:
            input.form-control(name='quantity' type='number' placeholder='' aria-label='First name')
          .col
            label.form-label(for='unit of measure') Unit of Measure:
            select.form-select(aria-label='Default select example')
              option(selected='') Choose option below
              option(value='kg') Kilogram (kg)
              option(value='g') Gram (g)
              option(value='pc') Piece (pcs)
              option(value='b') Box
              option(value='crt') Carton
              option(value='t') Tray
              option(value='ltr') Litre (L)
              option(value='ml') Millilitre (ml)
        // End of stock details
        // Supplier details
        h3.text-center.fw-bold Supplier Details
        .row.g-3
          .col
            label.form-label(for='formGroupExampleInput') Supplier Name:
            input.form-control(name="supplierName" type='text' placeholder='Enter name here' aria-label='First name')
          .col
            label.form-label(for='formGroupExampleInput') Phone Number:
            input.form-control(name='phoneNumber' type='tel' placeholder='+2567xxxxxxxx' aria-label='Number')
          .col
            label.form-label(for='email') Email:
            input.form-control(name='email' type='email' placeholder='youremail@example.com' aria-label='Email')
        // End of supplier details
        // pricing
        h3.text-center.fw-bold Pricing
        .row.g-3.my-3
          .col
            label.form-label Cost Price:
            .input-group
              span#basic-addon1.input-group-text
                
              input.form-control(name='costPrice' type='text' placeholder='' aria-label='input GroupExample')
          .col
            label.form-label Transport Price:
            .input-group
              span#basic-addon1.input-group-text
                
              input.form-control(name='tpCost' type='text' placeholder='' aria-label='input GroupExample')
          
          .col
            label.form-label(for='sellingPrice') Selling Price:
    
            .input-group
              span#basic-addon1.input-group-text
              input.form-control(name='sellingPrice' type='text' placeholder='' aria-label='input GroupExample')
        // end of pricing
        // submission
        h3.text-center.fw-bold Comments
        .row.g-3.my-3
          .col
            .form-floating
              textarea#floatingTextarea2.form-control(placeholder='Leave a comment here' style='height: 100px')
              label(for='floatingTextarea2') Leave a comment here
        // End of submission
        // Buttons
        .row.g-3
          .col
            button.btn.btn-primary.btn-lg.w-100.mt-3(type='submit') Register Stock
// FOOTER WITH COPYRIGHT
footer.bg-body-warning.text-center.p-3
  div
    a.text-black.text-decoration-none(href='#')
      | &copy; 2026 Copyright: NyondoGeneralHardware.com
// End of .container
// MDB
script(type='text/javascript' src='js/mdb.umd.min.js')
script(src='https://cdnjs.cloudflare.com/ajax/libs/mdb-ui-kit/6.4.0/mdb.min.js')
// Custom scripts
script(type='text/javascript').
