extends layout 

block content
  form.col.overflow-y-auto(action='/add_stock' method='post' enctype="multipart/form-data")
    .row.mb-4         
    h3.text-center.fw-bold.text-white
      u STOCK REGISTRATION
    .row.g-3
      .col
        label.form-label.text-white(for='product name') Product Name:
        input.form-control(name='quantity' type='text' placeholder='Enter Product Name')
      .col
        label.form-label.text-white(for='formGroupExampleInput') Product Type:
        select.form-select(name='productType' aria-label='Default select example')
          option(selected='') Choose option below
          option(value='') Building Materials
          option(value='') Hand Tools
          option(value='') Power Tools
          option(value='') Plumbing Supplies
          option(value='') Electrical Supplies
          option(value='') Paint &amp; Finishing Materials
          option(value='') Doors, Windows &amp; Fittings
          option(value='') Carpentry
          option(value='') Fastners &amp; Fixings
          option(value='') Safety Equipment        
    .row.g-3
      .col
        label.form-label.text-white(for='formGroupExampleInput') Quantity:
        input.form-control(name='quantity' type='number' placeholder='' aria-label='First name')
      .col
        label.form-label.text-white(for='formGroupExampleInput') Unit of Measure:
        select.form-select(type='text' name='unitOfMeasure' aria-label='Default select example')
          option(selected='') Choose option below
          option(value='kg') Kilogram (kg)
          option(value='g') Gram (g)
          option(value='pc') Piece(s)
          option(value='bg') Bag(s)
          option(value='crt') Carton
          option(value='t') Box
          option(value='ltr') Litre (L)
          option(value='ml') Millilitre (ml)       
    .row.g-3
      .col
        label.form-label.text-white(for='formGroupExampleInput') Supplier Name:
        input#supplierName.form-control(name='supplierName' type='text' placeholder='Enter name here' aria-label='supplierName')
      .col
        label.form-label.text-white(for='formGroupExampleInput') Phone Number:
        input#phoneNumber.form-control(name='phoneNumber' type='tel' placeholder='+2567xxxxxxxx' aria-label='Number')
    .row.g-3
      .col
        label.form-label.text-white(for='formGroupExampleInput') Email:
        input#email.form-control(name='email' type='email' placeholder='youremail@example.com' aria-label='Email')        
      .col
        label.form-label.text-white(for='formGroupExampleInput') Cost Price:
        input#costPrice.form-control(name='costPrice' type='number' aria-label='costPrice')
    .row.g-3
      .col
        label.form-label.text-white(for='formGroupExampleInput') Selling Price:
        input#sellingPrice.form-control(name='sellingPrice' type='number')
      .col
        label.form-label.text-white(for='formGroupExampleInput') Comment:
        input#comment.form-control(name='comment' type='text')
    .row.g-3
      .col
        label.form-label.text-white(for='formGroupExampleInput') Item Image:
        input#itemImage.form-control(name='itemImage' type='file')
        br
        button.btn.btn-warning.btn-lg.w-20(type='submit') Add Stock
  script(type='text/javascript' src='js/mdb.umd.min.js')
  script(src='https://cdnjs.cloudflare.com/ajax/libs/mdb-ui-kit/6.4.0/mdb.min.js')
  // Custom scripts
  script(type='text/javascript').