extends layout 

block content 
  .flex-grow-1.p-4.overflow-auto
    .container-fluid
      h2.mb-4.text-white Admin Dashboard
      // KPI Cards
      .row.g-4.mb-5
        .col-xl-3.col-md-6
          .card.h-100.border-0.shadow
            .card-body
              h5.text-muted Total Sales Revenue
              h3.text-success.fw-bold #{stats.salesRevenue.toLocaleString()}UGX
        .col-xl-3.col-md-6
          .card.h-100.border-0.shadow
            .card-body
              h5.text-muted Total Stock Value
              h3.fw-bold #{stats.inventoryValue.toLocaleString()}UGX
        .col-xl-3.col-md-6
          .card.h-100.border-0.shadow
            .card-body
              h5.text-muted Active Deposits
              h3.fw-bold UGX 14.8M
              small 52 Members
        .col-xl-3.col-md-6
          .card.h-100.border-0.shadow
            .card-body
              h5.text-muted Pending Credit
              h3.text-warning.fw-bold UGX 9.2M
      // Recent Sales & Low Stock
      .row
        .col-lg-7
          .card.shadow
            .card-header.bg-white
              h5 Recent Sales
            .card-body
              table.table.table-hover
                thead
                  tr
                    th Date
                    th Customer
                    th Amount
                    th Items
                tbody
                  tr
                    td Today
                    td John Bosco
                    td.text-success 1,250,000
                    td 8
                  tr
                    td Today
                    td Sarah Nansubuga
                    td.text-success 850,000
                    td 5
        .col-lg-5
          .card.shadow
            .card-header.bg-warning.text-dark
              h5 Low Stock Alert
            .card-body
              ul.list-group
                li.list-group-item.d-flex.justify-content-between
                  | Cement 50kg 
                  span.badge.bg-danger 12 left
                li.list-group-item.d-flex.justify-content-between
                  | Binding Wire 
                  span.badge.bg-warning 8 left
                li.list-group-item.d-flex.justify-content-between
                  | PVC Pipe 4m 
                  span.badge.bg-warning 15 left
  script(src='https://cdnjs.cloudflare.com/ajax/libs/mdb-ui-kit/6.4.0/mdb.min.js')
