salesRoutes,                                                                                                                                                                                                                        const express = require("express");
const router = express.Router();
const Sale = require("../models/Sale");
const Stock = require("../models/Stock");
//Add sale to the Db
router.get("/addsale", async (req, res) => {
  try {
    const items = await Stock.find({ quantity: { $gt: 0 } });
    res.render("new_sale_form", { items });
  } catch (error) {
    res.status(500).send("server error");
    console.error("error", error.message);
  }
});

router.post("/addsale", async (req, res) => {
  // console.log(req.body)
  try {
    const { customername, contactnumber, productId, qty, unitcost, delivery } =
      req.body;
    const product = await Stock.findById(productId)
    if(!product) return res.status(404).send('Product not found')
    if(product.quantity < qty){
        return res.status(400).send('Not enough stock available')
    }  
    // Deduct quantity sold from stock quantity and save the new quantity to the stock collection
    product.quantity -= qty 
    await product.save()

    // Record the sale
    const newSale = new Sale({
      customername,
      contactnumber,
      product:productId,
      qty,
      unitcost,
      delivery:delivery || 0,
      attendant:req.user._id
    });
    console.log(newSale);
    await newSale.save();
    res.redirect("/sales-list");
  } catch (error) {
    console.error(error);
    res.render("new_sale_form", { error: error.message });
  }
});
//Get sales from the Db
router.get("/sales-list", (req, res) => {
  res.render("sales");
});

module.exports = router;