doctype html
head
  meta(charset='UTF-8')
  meta(name='viewport' content='width=device-width, initial-scale=1.0')
  title Salary Earner Deposit Scheme - Nyondo Hardware
  // MDB
  link(href='https://cdnjs.cloudflare.com/ajax/libs/mdb-ui-kit/6.4.0/mdb.min.css' rel='stylesheet')
  // Bootstrap
  link(href='https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css' rel='stylesheet')
  link(rel='stylesheet' href='/css/mdb.min.css')
  link(rel='stylesheet' href='/nyondo.css')
// Background
#intro-example.bg-image.min-vh-100.d-flex(style="background-image: url('https://images.pexels.com/photos/4312849/pexels-photo-4312849.jpeg');")
  .mask.mask-custom.flex-grow-1(style='background-color: rgba(25, 12, 36, 0.78);')
    .d-flex.h-100
      // Updated Sidebar
      nav.sidebar.p-3.text-white.flex-shrink-0(style='width: 260px; background: rgba(242, 240, 242, 0.336);')
        .logo.mx-auto.mb-4(style="background-image: url('/public/images/logo.png'); \
        width: 150px; height: 150px; \
        background-size: contain; \
        background-repeat: no-repeat;")
        ul.nav.flex-column
          li.nav-item
            a.nav-link.text-white(href='dashboard.html')
              i.fas.fa-tachometer-alt
              span(data-translate='dashboard') Dashboard
          li.nav-item
            a.nav-link.text-white(href='products.html')
              i.fas.fa-boxes
              span(data-translate='products') Products &amp; Stock
          li.nav-item
            a.nav-link.text-white(href='stock-in.html')
              i.fas.fa-truck-loading
              span(data-translate='stockIn') Stock In
          li.nav-item
            a.nav-link.text-white(href='sales.html')
              i.fas.fa-shopping-cart
              span(data-translate='sales') Sales
          li.nav-item
            a.nav-link.text-white.active(href='#')
              i.fas.fa-hand-holding-usd
              span(data-translate='deposits') Deposit Scheme
          li.nav-item
            a.nav-link.text-white(href='suppliers.html')
              i.fas.fa-users
              span(data-translate='suppliers') Suppliers
          li.nav-item
            a.nav-link.text-white(href='reports.html')
              i.fas.fa-chart-bar
              span(data-translate='reports') Reports
          li.nav-item
            a.nav-link.text-white(href='offline.html')
              i.fas.fa-wifi
              span(data-translate='offline') Offline Mode
        button.btn.btn-outline-light.w-100.mt-4(onclick='logout()' data-translate='logout') Logout
      // Main Content
      .flex-grow-1.p-4.overflow-auto
        .container-fluid
          h2.text-white.mb-4
            u SALARY EARNER DEPOSIT SCHEME
          .row
            // Make a Deposit
            .col-lg-5
              .card.h-100
                .card-header.bg-warning.text-dark
                  h5.mb-0 Make a Deposit
                .card-body
                  form
                    .mb-3
                      label.form-label Full Name
                      input.form-control(name='fullName' type='text' placeholder='Enter full name' required='')
                    .mb-3
                      label.form-label Phone Number
                      input.form-control(name='phoneNumber' type='tel' placeholder='+256 7XX XXX XXX' required='')
                    .mb-3
                      label.form-label Deposit Amount (UGX)
                      input.form-control.form-control-lg(type='number' placeholder='50,000' required='')
                    .mb-3
                      label.form-label Deposit Period
                      select.form-select
                        option(value='3') 3 Months
                        option(value='6' selected='') 6 Months
                        option(value='12') 12 Months
                    button.btn.btn-dark.w-100(type='submit' class='btn-15;')
                      | Deposit Now
            // Recent Deposits
            .col-lg-7
              .card.h-100
                .card-header.bg-warning
                  h5 Recent Deposits
                .card-body.p-0
                  .table-responsive
                    table.table.table-hover.mb-1
                      thead.table-light
                        tr
                          th Date
                          th Name
                          th Amount
                          th Period
                          th Status
                      tbody
                        tr
                          td 2026-05-02
                          td Michael Okello
                          td.text-success.fw-bold 250,000
                          td 6 Months
                          td
                            span.badge.bg-success Active
                        tr
                          td 2026-05-01
                          td Grace Nakato
                          td.text-success.fw-bold 120,000
                          td 3 Months
                          td
                            span.badge.bg-success Active
                        tr
                          td 2026-04-30
                          td John Mugisha
                          td.text-success.fw-bold 80,000
                          td 12 Months
                          td
                            span.badge.bg-success Active
          // Customers who used up their deposit
          .card.mt-4
            .card-header.bg-warning
              h5.mb-0 Clients who have redeemed their retainer
            .card-body
              .table-responsive
                table.table.table-hover
                  thead
                    tr
                      th Name
                      th Original Deposit
                      th Amount Used
                      th Remaining
                      th Date Used
                      th Action
                  tbody
                    tr
                      td Sarah Nansubuga
                      td 200,000 UGX
                      td.text-danger 150,000 UGX
                      td
                        span.text-success.fw-bold 50,000 UGX
                      td 2026-04-28
                      td
                        button.btn.btn-sm.btn-outline-primary Replenish
                    tr
                      td Robert Kizza
                      td 150,000 UGX
                      td.text-danger 150,000 UGX
                      td
                        span.text-danger.fw-bold 0 UGX
                      td 2026-04-25
                      td
                        button.btn.btn-sm.btn-outline-primary Replenish
// Scripts
script(src='https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js')
