doctype html
head
  meta(charset='UTF-8')
  meta(name='viewport' content='width=device-width, initial-scale=1.0')
  title Forgot Password - Nyondo Hardware
  // MDB
  link(href='https://cdnjs.cloudflare.com/ajax/libs/mdb-ui-kit/6.4.0/mdb.min.css' rel='stylesheet')
  link(rel='stylesheet' href='/css/mdb.min.css')
  link(rel='stylesheet' href='/css/nyondo.css')
// Background Image
#intro-example.bg-image.d-flex.align-items-center.justify-content-center.min-vh-100.p-4(style="background-image: url('https://images.pexels.com/photos/4312849/pexels-photo-4312849.jpeg');")
  // Dark Overlay
  .mask.mask-custom(style='background-color: rgba(25, 12, 36, 0.75);')
    .d-flex.justify-content-center.align-items-center.h-100
      // Forgot Password Card
      .bg-danger.bg-opacity-10.p-5.rounded-4.shadow-lg(style='max-width: 420px; width: 100%; backdrop-filter: blur(8px);')
        // Logo
        .logo.mx-auto.mb-4(style="background-image: url('/images/logo.png'); \
        width: 150px; height: 150px; \
        background-size: contain; \
        background-repeat: no-repeat;")
        h3.text-center.mb-3.text-white Forgot Password?
        p.text-center.text-white-50.mb-4
          | Enter your email address and we&apos;ll send you a link to reset your password.
        // Forgot Password Form
        form
          // Email
          .form-outline.mb-4(data-mdb-input-init='')
            input#email.form-control.form-control-lg(type='email' placeholder='Enter your email' required='')
            label.form-label.text-white(for='email') Email Address
          .text-center
            button.btn.btn-outline-warning.btn-lg.px-5.mb-3(type='submit')
              | Send Reset Link
          .text-center
            a.text-white(href='/login') &larr; Back to Login
// Scripts
script(src='https://cdnjs.cloudflare.com/ajax/libs/mdb-ui-kit/6.4.0/mdb.min.js')
