doctype html
head
  meta(charset='UTF-8')
  meta(name='viewport' content='width=device-width, initial-scale=1, shrink-to-fit=no')
  meta(http-equiv='x-ua-compatible' content='ie=edge')
  title HOMEPAGE
  // MDB icon
  link(rel='icon' href='img/mdb-favicon.ico' type='image/x-icon')
  // Font Awesome
  link(rel='stylesheet' href='https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css')
  // Google Fonts Roboto
  link(rel='stylesheet' href='https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700;900&display=swap')
  // MDB
  link(href='https://cdnjs.cloudflare.com/ajax/libs/mdb-ui-kit/6.4.0/mdb.min.css' rel='stylesheet')
  link(rel='stylesheet' href='css/mdb.min.css')
  link(rel='stylesheet' href='nyondo.css')
// Background image
#intro-example.p-5.text-center.bg-image(style="background-image: url('https://images.pexels.com/photos/4312849/pexels-photo-4312849.jpeg');")
  // NAVIGATION BAR
  nav.navbar.navbar-expand-lg.bg-white.fixed-top
    // Container wrapper
    .container-fluid
      // Toggle button
      button.navbar-toggler(data-mdb-collapse-init='' type='button' data-mdb-target='#navbarLeftAlignExample' aria-controls='navbarLeftAlignExample' aria-expanded='false' aria-label='Toggle navigation')
        i.bi.bi-browser-chrome
      // Collapsible wrapper
      #navbarLeftAlignExample.collapse.navbar-collapse
        // Left links
        ul.navbar-nav.me-auto.mb-2.mb-lg-0
          li.nav-item
            a.nav-link.active(aria-current='page' href='index.html') Home
          li.nav-item
            a.nav-link(href='#') Visit Us
          // Navbar dropdown
          li.nav-item.dropdown
            a#navbarDropdown.nav-link.dropdown-toggle(data-mdb-dropdown-init='' href='#' role='button' aria-expanded='false')
              | More
            // Dropdown menu
            ul.dropdown-menu(aria-labelledby='navbarDropdown')
              li
                a.dropdown-item(href='#') Get in Touch
              li
                a.dropdown-item(href='#') Our Products
              li
                hr.dropdown-divider
              li
                a.dropdown-item(href='#') About Us
        // Left links
        // Right icon
        div
          a#navbarDropdownMenuLink.link-secondary.me-3.dropdown-toggle.hidden-arrow(data-mdb-dropdown-init='' href='#' role='button' aria-expanded='false')
        // END OF RIGHT ICON
      // Collapsible wrapper
    // Container wrapper
  // BACKGROUD IMAGE
  .mask.mask-custom(style='background-color: rgba(25, 12, 36, 0.7);')
    .d-flex.justify-content-center.align-items-center.h-100
      // forgot password place
      .bg-danger.bg-opacity-10.p-4.rounded.shadow(style='max-width: 600px; width: 50%; min: vh-100px')
        .form-outline.mb-4.p-1(action="auth/forgotPassword" method= "post" data-mdb-input-init='')
          input#form3Example3.form-control.form-control-lg(name="emailAddress" type='email' placeholder='Enter a valid email address')
          label.form-label(for='form3Example3') Email address
        .form-outline.mb-4.p-1(data-mdb-input-init='')
          input#form3Example3.form-control.form-control-lg(name="newPassword" type='email' placeholder='Enter a valid email address')
          label.form-label(for='form3Example3') New password
        .form-outline.mb-4.p-1(data-mdb-input-init='')
          input#form3Example3.form-control.form-control-lg(name='confirmNewPassword' type='email' placeholder='Enter a valid email address')
          label.form-label(for='form3Example3') Confirm new password
        .form-group.form-check
          input#exampleCheck1.form-check-input(name='' type='checkbox')
          label.form-check-label(for='exampleCheck1') Check me out
        .text-center.text-lg-start.mt-4.pt-2
          button.btn.btn-warning.btn-lg(type='submit' data-mdb-button-init='' data-mdb-ripple-init='' style='padding-left: 2.5rem; padding-right: 2.5rem;') Login
  // Background image
  // FOOTER WITH COPYRIGHT
  footer.bg-body-warning.text-center.p-3
    .text-center.p-3(style='background-color: rgba(0, 0, 0, 0.05);')
    a.bg-body-warning.text-center(class='class=' ;='' href='')  &copy; 2026 Copyright: NyondoGeneralHardware.com
  // Grid column
// End of .container
// MDB
script(type='text/javascript' src='js/mdb.umd.min.js')
script(src='https://cdnjs.cloudflare.com/ajax/libs/mdb-ui-kit/6.4.0/mdb.min.js')
// Custom scripts
script(type='text/javascript').
