doctype html
head
  meta(charset='UTF-8')
  meta(name='viewport' content='width=device-width, initial-scale=1, shrink-to-fit=no')
  meta(http-equiv='x-ua-compatible' content='ie=edge')
  title HOMEPAGE
  // MDB icon
  link(rel='icon' href='img/mdb-favicon.ico' type='image/x-icon')
  // Font Awesome
  link(rel='stylesheet' href='https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css')
  // Google Fonts Roboto
  link(rel='stylesheet' href='https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700;900&display=swap')
  // MDB
  link(href='https://cdnjs.cloudflare.com/ajax/libs/mdb-ui-kit/6.4.0/mdb.min.css' rel='stylesheet')
  link(rel='stylesheet' href='css/mdb.min.css')
  link(rel='stylesheet' href='/css/nyondo.css')
// Background image
#intro-example.p-5.text-center.bg-image
  // Carousel
  #carousel.carousel.slide.position-absolute.top-0.start-0.w-100.h-100(data-mdb-ride='carousel' data-mdb-interval='5000' data-mdb-carousel-init='')
    .carousel-inner.h-100
      .carousel-item.active.h-100
        img.w-100.vh-100.contain(src='/images/kla.jpg' class='object-fit:' alt='background tools')
      .carousel-item.active.h-100
        img.w-100.vh-100.contain(src='/images/Tools.jpg' class='object-fit:' alt='mechanical tools')
      .carousel-item.h-100
        img.w-100.vh-100(src='/images/Japan.jpg' class='object-fit:contain' alt='building')
      .carousel-item.h-100
        img.w-100.vh-100(src='/images/background-tools.jpeg' class='style=' alt='Kampala buildings')
  .mask.mask-custom(style='background-color: rgba(25, 12, 36, 0.7);')
    .d-flex.justify-content-center.align-items-center.h-100
      .text-white
        h1.mb-3 WELCOME TO NYONDO GENERAL HARDWARE
        h5.mb-4 Supplying Every Step of Your Build!
        a.btn.btn-outline-light.btn-lg.m-2.custome-btn(data-mdb-ripple-init='' href='/auth/login' role='button' rel='nofollow' target='_blank') LOGIN
        a.btn.btn-outline-light.btn-lg.m-2.custome-btn(data-mdb-ripple-init='' href='/auth/user_reg' target='_blank' role='button') Don&apos;t have an account? SIGN UP
// Background image
// FOOTER WITH COPYRIGHT
div
  footer.text-white.text-lg-start(col-md-12='' mb-0='' style='background-color: #23242a;')
    | &copy; 2026 Copyright:
    a.text-white(;='' href=' ') www.nyondogeneralhardware.com
// End of .container
// MDB
script(type='text/javascript' src='js/mdb.umd.min.js')
script(src='https://cdnjs.cloudflare.com/ajax/libs/mdb-ui-kit/6.4.0/mdb.min.js')
// Custom scripts
script(type='text/javascript').
