doctype html
head
  meta(charset='UTF-8')
  meta(name='viewport' content='width=device-width, initial-scale=1, shrink-to-fit=no')
  meta(http-equiv='x-ua-compatible' content='ie=edge')
  title HOMEPAGE
  // MDB icon
  link(rel='icon' href='img/mdb-favicon.ico' type='image/x-icon')
  // Font Awesome
  link(rel='stylesheet' href='https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css')
  // Google Fonts Roboto
  link(rel='stylesheet' href='https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700;900&display=swap')
  // MDB
  link(href='https://cdnjs.cloudflare.com/ajax/libs/mdb-ui-kit/6.4.0/mdb.min.css' rel='stylesheet')
  link(rel='stylesheet' href='/css/mdb.min.css')
  link(rel='stylesheet' href='/css/nyondo.css')
// Background image
#intro-example.p-5.text-center.bg-image(style="background-image: url('https://images.pexels.com/photos/4312849/pexels-photo-4312849.jpeg');")
  // BACKGROUD IMAGE
  .mask.mask-custom(style='background-color: rgba(25, 12, 36, 0.7);')
    .d-flex.justify-content-center.align-items-center.h-100
      // FORM
      .bg-danger.bg-opacity-10.p-4.rounded.shadow(style='max-width: 400px; width: 50%; min: vh-100px')
        .logo.bg-white.p-4.rounded.shadow.mx-auto
        br
        // Email input
        .form-outline.mb-4.p-1(data-mdb-input-init='')
          input#form3Example3.form-control.form-control-lg(name='email' type='email' placeholder='Enter a valid email address')
          label.form-label(for='form3Example3') Email address
        // Password input
        .form-outline.mb-4.p-1(data-mdb-input-init='')
          input#form3Example4.form-control.form-control-lg(name='password' type='password' placeholder='Enter password')
          label.form-label(for='form3Example4') Password
        .d-flex.justify-content-between.align-items-center
          // Checkbox
          .form-check.mb-0
            input#form2Example3.form-check-input.me-2(type='checkbox' value='')
            label.form-check-label(for='form2Example3')
              | Remember me
          a.text-body(href='forgot-password.pug') Forgot password?
        .text-center.text-lg-center.mt-4.pt-2
          button.btn.btn-outline-warning.btn-lg(type='submit' data-mdb-button-init='' data-mdb-ripple-init='' style='padding-left: 2.5rem; padding-right: 2.5rem;') Login
          p.small.text-center-floating.mt-2.pt-1.mb-0
            | Don&apos;t have an account? 
            a.link-warning(href='#!') Register
  // Background image
  script(type='text/javascript' src='js/mdb.umd.min.js')
  script(src='https://cdnjs.cloudflare.com/ajax/libs/mdb-ui-kit/6.4.0/mdb.min.js')
  // Custom scripts
  script(type='text/javascript').
