doctype html
head
  meta(charset='UTF-8')
  meta(name='viewport' content='width=device-width, initial-scale=1.0')
  title LOGIN
  // MDB
  link(href='https://cdnjs.cloudflare.com/ajax/libs/mdb-ui-kit/6.4.0/mdb.min.css' rel='stylesheet')
  link(rel='stylesheet' href='/css/mdb.min.css')
  link(rel='stylesheet' href='/css/nyondo.css')
// Background Image
#intro-example.bg-image.d-flex.align-items-center.justify-content-center.min-vh-100.p-4(style="background-image: url('https://images.pexels.com/photos/4312849/pexels-photo-4312849.jpeg');")
  // Dark Overlay
  .mask.mask-custom(style='background-color: rgba(25, 12, 36, 0.75);')
    .d-flex.justify-content-center.align-items-center.h-100
      // Login Card
      .bg-danger.bg-opacity-10.p-5.rounded-4.shadow-lg(style='max-width: 420px; width: 100%; backdrop-filter: blur(8px);')
        // Logo
        .logo.mx-auto.mb-4(style="background-image: url('/images/logo.png'); \
        width: 150px; height: 150px; \
        background-size: contain; \
        background-repeat: no-repeat;")
        h3.text-center.mb-4.text-white Welcome Back!
        // Login Form
        form(action='/login' method='post')
          // Email
          .form-outline.mb-4(data-mdb-input-init='')
            input#form3Example3.form-control.form-control-lg(type='email' name='email')
            label.form-label.text-white(for='form3Example3') Email address
          // Password
          .form-outline.mb-4(data-mdb-input-init='')
            input#form3Example4.form-control.form-control-lg(type='password'  name='password' autocomplete='new-password')
            label.form-label.text-white(for='form3Example4') Password
          .d-flex.justify-content-between.align-items-center.mb-4
            .form-check
              input#form2Example3.form-check-input(type='checkbox' value='')
              label.form-check-label.text-white(for='form2Example3') Remember me
            a.text-white(href='/forgotPassword') Forgot password?
          .text-center
            button.btn.btn-outline-warning.btn-lg.px-5(type='submit') Login
          p.text-center.text-white.mt-4.mb-0
            | Don&apos;t have an account? 
            a.link-warning.fw-bold(href='/user_reg') Register
// Scripts
script(src='https://cdnjs.cloudflare.com/ajax/libs/mdb-ui-kit/6.4.0/mdb.min.js')
