doctype html
head
  meta(charset='UTF-8')
  meta(name='viewport' content='width=device-width, initial-scale=1.0')
  title HOMEPAGE
  // MDB
  link(href='https://cdnjs.cloudflare.com/ajax/libs/mdb-ui-kit/6.4.0/mdb.min.css' rel='stylesheet')
  link(rel='stylesheet' href='/css/mdb.min.css')
  link(rel='stylesheet' href='/css/nyondo.css')
// Background Image Container
#intro-example.bg-image.d-flex.align-items-center.justify-content-center.min-vh-100.p-4(style="background-image: url('https://images.pexels.com/photos/4312849/pexels-photo-4312849.jpeg');")
  // Dark Overlay
  .mask.mask-custom(style='background-color: rgba(25, 12, 36, 0.75);')
    .register-card.p-5.mx-auto(style='max-width: 700px;')
      .bg-danger.bg-opacity-10.p-4.rounded.shadow
        h4.text-center.mb-4.text-white
          u REGISTER NEW STAFF
        form#registerForm(action='/auth/user_reg' method='post')
          .row
            .col-md-6.mb-3
              label.form-label.text-white Full Name
              input#fullName.form-control(name='fullName' type='text' required='' placeholder='Full name')
            .col-md-6.mb-3
              label.form-label.text-white Phone Number
              input#phoneNumber.form-control(name='phoneNumber' type='number' placeholder=' 0782xxxxxx' required='')
          .mb-3
            label.form-label.text-white Email:
            input#email.form-control(name='email' type='email' placeholder='Email'  autocomplete='off')
          .row
            .col-md-6.mb-3
              label.form-label.text-white Password
              input#password.form-control(name='password' type='password' placeholder='Enter password' required='')
            .col-md-6.mb-3
              label.form-label.text-white NIN 
              input#NIN.form-control(name='NIN' type='text' placeholder='' required='')
          .mb-4
            label.form-label.text-white User Role
            select#userRole.form-select(name='userRole' required='')
              option(value='') Select Role
              option(value='attendant') Sales Attendant
              option(value='manager') Store Manager
              option(value='admin') Accounts / Admin
          .d-grid
            button.btn.btn-warning.btn-lg(type='submit')
              i.fas.fa-user-plus
              |  Create Account
        .text-center.mt-4
          p.mb-0.text-white
            | Already have an account? 
            a.text-warning.fw-bold(href='/auth/login') Login Here
      .text-center.mt-5
        small.text-muted Nyondo General Hardware LTD
// Scripts
script(src='https://cdnjs.cloudflare.com/ajax/libs/mdb-ui-kit/6.4.0/mdb.min.js')
