doctype html
head
  meta(charset='UTF-8')
  meta(name='viewport' content='width=device-width, initial-scale=1, shrink-to-fit=no')
  meta(http-equiv='x-ua-compatible' content='ie=edge')
  title HOMEPAGE
  // MDB icon
  link(rel='icon' href='img/mdb-favicon.ico' type='image/x-icon')
  // Font Awesome
  link(rel='stylesheet' href='https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css')
  // Google Fonts Roboto
  link(rel='stylesheet' href='https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700;900&display=swap')
  // MDB
  link(href='https://cdnjs.cloudflare.com/ajax/libs/mdb-ui-kit/6.4.0/mdb.min.css' rel='stylesheet')
  link(rel='stylesheet' href='/css/mdb.min.css')
  link(rel='stylesheet' href='/css/nyondo.css')
// Background image
#intro-example.p-5.text-center.bg-image(style="background-image: url('https://images.pexels.com/photos/4312849/pexels-photo-4312849.jpeg');")
  // BACKGROUD IMAGE
  .mask.mask-custom(style='background-color: rgba(25, 12, 36, 0.7);')
    .d-flex.justify-content-center.align-items-center.h-100
      .bg-danger.bg-opacity-10.p-4.rounded.shadow(style='max-width: 600px; width: 50%; min: vh-100px')
        .logo.bg-white.p-4.rounded.shadow.mx-auto
        br
        // FORM
        form(action='userreg' method='post')
          .form-outline.mb-4.p-1(data-mdb-input-init='')
            input#form3Example3.form-control.form-control-lg(name='fullName' type='text' placeholder='Full')
            label.form-label(for='form3Example3') Full Name
          // Email
          .form-outline.mb-4.p-1(data-mdb-input-init='')
            input#form3Example3.form-control.form-control-lg(name='email' type='email' placeholder='Email Address')
            label.form-label(for='form3Example3') Email Address
          // Password input
          .form-outline.mb-4.p-1(data-mdb-input-init='')
            input#form3Example4.form-control.form-control-lg(name='password' type='password' placeholder='Enter password')
            label.form-label(for='form3Example4') Password
          // Role
          .form-outline.mb-4.p-1.bg-opacity(data-mdb-input-init='')
            select#role.form-select.form-control-lg(name='role')
              option(value='' disabled='' selected='') Select Role
              option(value='attendant') Sales Attendant
              option(value='manager') Manager
              option(value='admin') Admin
          // Phone number and Nin
          .row
            .col-md-6
              .form-outline.mb-4(data-mdb-input-init='')
                input#phone.form-control(name="phoneNumber" type='phone')
                label.form-label(for='phone') Phone Number
            .col-md-6
              .form-outline.mb-4(data-mdb-input-init='')
                input#nin.form-control(name="NIN" type='text')
                label.form-label(for='nin') NIN
          // Button
          .text-center.text-lg-centre
            button.btn.btn-outline-warning.btn-lg(type='submit' data-mdb-button-init='' data-mdb-ripple-init='') Register
  // Background image
  script.
    <div class="alert alert-success" role="alert">
    Account created successfully!
    </div>
  script(type='text/javascript' src='js/mdb.umd.min.js')
  script(src='https://cdnjs.cloudflare.com/ajax/libs/mdb-ui-kit/6.4.0/mdb.min.js')
  // Custom scripts
  script(type='text/javascript').
